.centered-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
}

.form-control,
.btn-block {
  width: 100%;
}
