.centered-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control,
.btn-block {
  width: 100%;
}

.error {
  font-size: small;
  color: red;
}
